@{
	ViewBag.TitleName = "Создать занятие";
	Layout = "~/Views/MasterTemplate.cshtml";
}

Чтобы смотреть, создавать задачи, занятия нужно 
<a class="link" href='@Url.Action("Login", "Authentication")'> Войти... </a>
или 
<a class="link" href='@Url.Action("Register", "Authentication")'> Зарегистрироваться... </a>